#ordercheck{
  display: none;
}
#oderOpen{
  border-radius: 7px;
  color: #fff;
  font-weight: bold;
  padding: 2%;
  padding-bottom: 3%;
  margin-left: 1%;
  background: #3d3de4;
}
#oderOpen:hover{
  background-color: #0000bb;
}
#orderBack{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left:0;
  opacity: 0.5;
  background: #000;
  z-index: 99;
  display: none;
}
#orderBack2{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left:0;
  opacity: 0.7;
  background: #000;
  z-index: 99;
  display: none;
}
#orderArea{
  position: fixed;
  overflow: scroll;
  width: 30%;
  height: 100%;
  top: 0;
  left:0;
  background: #fff;
  z-index: 9999;
  transform: translateX(-100%);
  transition: 0.3s ease-in-out;
}
#orderModal{
  position: fixed;
  width: 40%;
  height: 60%;
  overflow: scroll;
  top: 10%;
  left:40%;
  border-radius: 6px;
  background: #fff;
  z-index: 9999;
  transform: translateY(-150%);
  transition: 0.3s ease-in-out;
}
#AcoountingModal{
  position: fixed;
  width: 30%;
  height: 55%;
  overflow: scroll;
  top: 20%;
  left:30%;
  border-radius: 6px;
  box-shadow: 1px 1px 1px 1px #d0d0d0;
  background: #fff;
  transform: translateY(-150%);
  z-index: 9999;
  transition: 0.3s ease-in-out;
}
#changeModal{
  position: fixed;
  width: 40%;
  height: 40%;
  overflow: scroll;
  top: 20%;
  left:30%;
  border-radius: 6px;
  box-shadow: 1px 1px 1px 1px #d0d0d0;
  background: #fff;
  transform: translatex(200%);
  z-index: 9999;
  transition: 0.7s ease-in-out;
}
#ordercheck:checked ~ #orderBack{
  display: block;
}
#ordercheck:checked ~ #orderArea{
  transform: translateX(0%);
  transition: 0.3s ease-in-out;
}
#ordercheck:checked ~ #orderModal{
  transform: translateY(0%);
  transition: 0.3s ease-in-out;
}
.btArea{
  width: 100%;
  max-width: 90%;
}
.table_area{
  overflow: scroll;
  background: #f0f0f0;
  margin-bottom: 2%;
  height: 300px;
  padding: 2%;
}
.no_order{
  margin-top: 25%;
}
.wait_area{
  overflow: scroll;
  width: 100%;
  height: 500px;
}
