.viewTitle{
  float: left;
  font-weight: bold;
  font-size: 26px;
  width: 30%;
  text-align: right;
  margin-bottom: -5%;
}
.viewMenu{
  float: right;
  font-weight: bold;
  font-size: 26px;
  width: 70%;
  margin-bottom: 1%;
  
}
.weather-pc{
  display: table;
}
.weather-phone{
  display: none;
}
.button-center{
  display: none;
}
.reset-bt{
  margin-left: 5%;
}
.csv-bt{
  margin-left: 1%;
}
.pdf-bt{
  margin-left: 1%;
}
@media (max-width: 767px){
  .viewTitle{
    font-size: 16px;
    text-align: right;
    width: 35%;
  }
  .viewMenu{
    font-size: 16px;
    text-align: left;
    width: 65%;
    margin-top: -1.5%;
  }
  .weather-pc{
    display: none;
  }
  .weather-phone{
    display: table;
  }
  
}
@media screen and (max-width: 767px){
  .button-center{
    display: block;
  }
  .reset-bt{
    margin-top: 5%;
    margin-left: -50%;
    width: 150%;
  }
  .csv-bt{
    margin-top: 2%;
    margin-left: -50%;
    width: 150%;
  }
  .pdf-bt{
    margin-top: 2%;
    margin-left: -50%;
    width: 150%;
  }
  .accouting-money-label{
    display: block;
    margin-top: 2%;
  }
}