.viewTitle{
  float: left;
  font-weight: bold;
  font-size: 26px;
  width: 30%;
  text-align: right;
  margin-bottom: -5%;
}
.viewMenu{
  float: right;
  font-weight: bold;
  font-size: 26px;
  width: 70%;
  margin-bottom: 1%;
  
}
@media (max-width: 767px){
  .viewTitle{
    font-size: 16px;
    text-align: right;
    width: 35%;
  }
  .viewMenu{
    font-size: 16px;
    text-align: left;
    width: 65%;
    margin-top: -1.5%;
  }
}